In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Подготовка данных

Вычитываем табличку:

In [2]:
raw_db = pd.read_csv("data/dump2.csv")

Смотрим на её размеры:

In [3]:
print(raw_db.shape)
raw_db.head()

(34433, 60)

,id,region_id,area_id,city_id,street_id,shortname_region,formalname_region,shortname_area,formalname_area,shortname_city,...,electrical_entries_count,heating_type,hot_water_type,cold_water_type,sewerage_type,sewerage_cesspools_volume,gas_type,ventilation_type,firefighting_type,drainage_type
0,8649748,0c5b2444-70a0-4932-980c-b4dc0d3f02b5,NaN,NaN,NaN,г,Москва,NaN,NaN,NaN,...,1.0,Центральное,Закрытая с приготовлением горячей воды на ЦТП,Центральное,Центральное,"0,00",Центральное,Вытяжная вентиляция,Отсутствует,Внутренние водостоки
1,9370109,0c5b2444-70a0-4932-980c-b4dc0d3f02b5,NaN,NaN,NaN,г,Москва,NaN,NaN,NaN,...,NaN,Не заполнено,Не заполнено,Не заполнено,Не заполнено,NaN,Не заполнено,Не заполнено,Не заполнено,Не заполнено
2,8963246,0c5b2444-70a0-4932-980c-b4dc0d3f02b5,NaN,NaN,NaN,г,Москва,NaN,NaN,NaN,...,7.0,Центральное,Закрытая с приготовлением горячей воды на ЦТП,Центральное,Центральное,NaN,Отсутствует,Приточно-вытяжная вентиляция,Пожарные гидранты,Внутренние водостоки
3,8932138,0c5b2444-70a0-4932-980c-b4dc0d3f02b5,NaN,NaN,NaN,г,Москва,NaN,NaN,NaN,...,NaN,Не заполнено,Не заполнено,Не заполнено,Не заполнено,NaN,Не заполнено,Не заполнено,Не заполнено,Не заполнено
4,8932139,0c5b2444-70a0-4932-980c-b4dc0d3f02b5,NaN,NaN,NaN,г,Москва,NaN,NaN,NaN,...,NaN,Не заполнено,Не заполнено,Не заполнено,Не заполнено,NaN,Не заполнено,Не заполнено,Не заполнено,Не заполнено

Смотрим, сколько в каждом столбце пропусков (от 0 до 34433):

In [4]:
raw_db.isnull().sum(axis = 0)

id                                     0
region_id                              0
area_id                            33151
city_id                            31900
street_id                           1125
shortname_region                       0
formalname_region                      0
shortname_area                     33151
formalname_area                    33151
shortname_city                     31900
formalname_city                    31900
shortname_street                    1125
formalname_street                   1125
house_number                         470
building                           32706
block                              18326
letter                             34417
address                                0
houseguid                              0
management_organization_id          1093
built_year                          1499
exploitation_start_year              369
project_type                         421
house_type                             0
is_alarm                               0
method_of_forming_overhaul_fund        0
floor_count_max                      304
floor_count_min                     1589
entrance_count                       339
elevators_count                      625
energy_efficiency                      0
quarters_count                         0
living_quarters_count               1552
unliving_quarters_count             1942
area_total                           234
area_residential                     343
area_non_residential                 446
area_common_property                1721
area_land                           1020
parking_square                      2408
playground                             0
sportsground                           0
other_beautification               12395
foundation_type                        0
floor_type                             0
wall_material                          0
basement_area                        726
chute_type                             0
chute_count                          776
electrical_type                        0
electrical_entries_count            1168
heating_type                           0
hot_water_type                         0
cold_water_type                        0
sewerage_type                          0
sewerage_cesspools_volume           3461
gas_type                               0
ventilation_type                       0
firefighting_type                      0
drainage_type                          0
dtype: int64

Выбираем столбцы, которые могут быть полезны:

In [5]:
useful_columns = [
    "id", 
    "houseguid",
    "region_id",
    "shortname_region",
    "formalname_region",
    "address",
    "house_number",
    "building",
    "block",
    "letter",
    "floor_count_max",
    "floor_count_min",
    "entrance_count",
    "elevators_count",
    "quarters_count",
    "living_quarters_count",
    "unliving_quarters_count" 
]

In [6]:
db = raw_db[useful_columns]

In [7]:
print(db.shape)
db.head(5)

(34433, 17)

,id,houseguid,region_id,shortname_region,formalname_region,address,house_number,building,block,letter,floor_count_max,floor_count_min,entrance_count,elevators_count,quarters_count,living_quarters_count,unliving_quarters_count
0,8649748,521474b9-1d5a-702f-3b75-33ff10263733,0c5b2444-70a0-4932-980c-b4dc0d3f02b5,г,Москва,"г. Москва, д. 9, к. 1",9,NaN,1,NaN,9.0,9.0,4.0,4.0,144,144.0,0.0
1,9370109,64f12da8-00f6-ab7c-a849-2e1c3cccd26b,0c5b2444-70a0-4932-980c-b4dc0d3f02b5,г,Москва,"г. Москва, д. 14, к. 1",14,NaN,1,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
2,8963246,4b9cbbad-b371-6ce1-bebe-09e785d0b894,0c5b2444-70a0-4932-980c-b4dc0d3f02b5,г,Москва,"г. Москва, д. 42, к. 2",42,NaN,2,NaN,17.0,17.0,7.0,14.0,476,474.0,2.0
3,8932138,c6307da6-86f4-e8ca-50f9-b7a812a258f9,0c5b2444-70a0-4932-980c-b4dc0d3f02b5,г,Москва,"г. Москва, д. 2301",2301,NaN,NaN,NaN,13.0,NaN,6.0,9.0,0,NaN,NaN
4,8932139,460591fb-89e3-230c-1691-7478c03eeb36,0c5b2444-70a0-4932-980c-b4dc0d3f02b5,г,Москва,"г. Москва, д. 2302",2302,NaN,NaN,NaN,11.0,9.0,3.0,6.0,0,NaN,NaN

## Смотрим, какие слова, сокращения используются в адресах:

In [8]:
from collections import Counter
from nltk.tokenize import WhitespaceTokenizer

In [419]:
c = Counter()
tokenizer = WhitespaceTokenizer()

for adr in db["address"]:
    c.update(tokenizer.tokenize("".join([z for z in adr if z.isalpha() or z == " "])))

In [422]:
c["сооруж"]

13

In [418]:
c.most_common(50)

AttributeError: 'list' object has no attribute 'most_common'

In [67]:
db["address"].sample(5)

33677                  г. Москва, ул. Южнобутовская, д. 36
11396            г. Москва, ул. Кастанаевская, д. 16, к. 1
14990    г. Москва, б-р. Литовский, д. 18, к. под. 3,4,5,6
33404         г. Москва, г. Щербинка, ул. Люблинская, д. 4
23374                    г. Москва, пл. Победы, д. 1, к. Е
Name: address, dtype: object

# Оставляем дома только из окрестностей садового

## Подход 1. По названиям улиц

Список улиц и площадей берём из [вики](https://ru.wikipedia.org/wiki/%D0%A1%D0%B0%D0%B4%D0%BE%D0%B2%D0%BE%D0%B5_%D0%BA%D0%BE%D0%BB%D1%8C%D1%86%D0%BE). Оставляем только те дома из базы, которые находятся на этих улицах.

In [163]:
garden_streets = []
with open("wiki_garden_ring_streets.txt", "r") as file:
    for line in file.readlines():
        garden_streets.append(line.strip())
        
print(len(garden_streets))
print(garden_streets[:5])

36
['Триумфальная площадь', 'Садовая-Триумфальная улица', 'Садовая-Каретная улица', 'Садовая-Самотёчная улица', 'Самотёчная площадь']

Убираем знаки препинания, сокращаем слова *площадь, улица, бульвар*.

In [14]:
garden_streets = [x.strip().lower() for x in garden_streets.split("\n") if len(x)]
garden_streets = ["".join([z for z in x if z.isalpha() or z == " "])  for x in garden_streets]

In [111]:
streets = [(x.replace("улица", "").strip(), "ул") for x in garden_streets if "улица" in x]
squares = [(x.replace("площадь", "").strip(), "пл") for x in garden_streets if "площадь" in x]
boulevards = [(x.replace("бульвар", "").strip(), "бр") for x in garden_streets if "бульвар" in x]

named_entities =  streets + squares + boulevards
lookup_addresses = [x[1] + " " + x[0] for x in named_entities]
names = [x[0] for x in named_entities]

In [18]:
len(garden_streets), len(streets), len(squares), len(boulevards)

(36, 15, 18, 3)

На садовом расположены:

- 15 улиц
- 18 площадей
- 3 бульвара

Итого 36 наименований.

Проверим, сколько в базе домов, которые находятся на улицах с такими названиями.

In [20]:
import re

Делаем несложный парсер адресов (улица, дом, строение, корпус)

In [438]:
s = "г. Москва, б-р   Хорошевский 1-й, д. 6 к. 15 стр. 144А"
def parse_address(s, prefixes=["д", "к", "стр", "сооруж"]):
    x = s.lower()
    x = re.sub(r"[\.\,\-]", "", x)
    x = re.sub(r"г москва", "", x)

    entities = {}
    for prefix in prefixes:
        pattern = re.compile(prefix + " " + "(\d*\w*/?\d*\w*)")
        finds = re.findall(pattern, x)
        if len(finds):
            entity = re.findall(pattern, x)[0]
            entities[prefix] = entity
            x = re.sub(prefix + " " + entity, "", x)
        x = re.sub(r"\W+", " ", x)

    return x.strip(), entities

def match_address(s, addresses):
    pattern = "(" + "|".join(addresses) + ")"
    return ",".join(re.findall(pattern, s))

parse_address(s)

('бр хорошевский 1й', {'д': '6', 'к': '15', 'стр': '144а'})

In [170]:
garden_ring_db = db[db["address"].apply(lambda x: len(match_address(parse_address(x)[0], lookup_addresses)) > 0)]

In [101]:
a = {}
print(a.get(12))

None

In [171]:
garden_ring_db.shape

(153, 17)

**153 жилых дома на Садовом кольце**

In [172]:
garden_ring_db.loc[:, "street"] = garden_ring_db.loc[:, "address"].apply(lambda x: match_address(parse_address(x)[0], lookup_addresses))

/Users/ssheypak/newenv/lib/python3.9/site-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/Users/ssheypak/newenv/lib/python3.9/site-packages/pandas/core/indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

In [173]:
garden_ring_db.head(3)

,id,houseguid,region_id,shortname_region,formalname_region,address,house_number,building,block,letter,floor_count_max,floor_count_min,entrance_count,elevators_count,quarters_count,living_quarters_count,unliving_quarters_count,street
3974,8125343,3577d957-0028-4978-be64-2bca13a3a0c4,0c5b2444-70a0-4932-980c-b4dc0d3f02b5,г,Москва,"г. Москва, ул. Валовая, д. 2-4/44, стр. 1",2-4/44,1,NaN,NaN,8.0,0.0,4.0,4.0,77,60.0,17.0,ул валовая
3975,8125187,8d126ef4-1adc-4eca-8f7b-5c47715e3b09,0c5b2444-70a0-4932-980c-b4dc0d3f02b5,г,Москва,"г. Москва, ул. Валовая, д. 6",6,NaN,NaN,NaN,15.0,0.0,4.0,4.0,107,107.0,0.0,ул валовая
3976,8125192,b7322145-677d-4439-9ca9-713b7fc98b9e,0c5b2444-70a0-4932-980c-b4dc0d3f02b5,г,Москва,"г. Москва, ул. Валовая, д. 8/18",8/18,NaN,NaN,NaN,11.0,0.0,6.0,12.0,242,219.0,23.0,ул валовая

## Соберём статистику по этим домам (с разбивкой на название улицы и без)

In [174]:
garden_ring_db.groupby("street", as_index=False).agg(
    {
         "address": ["count"],
         "living_quarters_count":["mean",  "sum"],
         "quarters_count" : ["sum"],
         "entrance_count": ["mean",  "sum"],
         "floor_count_min": ["min", "mean", "max"],
         "floor_count_max": ["min", "mean", "max"],
    })

                     street address living_quarters_count          \
                              count                  mean     sum
0              бр зубовский       8             53.142857   372.0
1              бр новинский      20             57.400000  1148.0
2             бр смоленский      14             84.500000  1014.0
3              пл калужская       1            323.000000   323.0
4             пл кудринская       1            449.000000   449.0
5             пл смоленская       1            192.000000   192.0
6       пл смоленскаясенная       4             60.000000   240.0
7                ул валовая      10             76.666667   690.0
8                 ул житная       1            126.000000   126.0
9          ул зацепский вал       4             68.500000   274.0
10          ул земляной вал      38             64.026316  2433.0
11          ул крымский вал       4             71.333333   214.0
12       ул садоваякаретная       9             24.222222   218.0
13     ул садоваякудринская      15             17.733333   266.0
14       ул садоваяспасская       8            153.142857  1072.0
15    ул садоваясухаревская       2            133.000000   133.0
16   ул садоваятриумфальная       8             30.333333   182.0
17  ул садоваячерногрязская       5            120.000000   600.0

   quarters_count entrance_count        floor_count_min                   \
              sum           mean    sum             min       mean   max
0             401       3.500000   28.0             4.0   5.857143   7.0
1            1219       2.700000   54.0             4.0   6.650000  14.0
2            1194       3.071429   43.0             5.0   7.000000  17.0
3             325       8.000000    8.0             1.0   1.000000   1.0
4             473      15.000000   15.0             8.0   8.000000   8.0
5             198       7.000000    7.0            10.0  10.000000  10.0
6             254       2.750000   11.0             4.0   7.250000  11.0
7             716       3.400000   34.0             0.0   5.000000  13.0
8             128       6.000000    6.0             1.0   1.000000   1.0
9             295       2.000000    8.0             0.0   2.250000   9.0
10           2675       3.605263  137.0             0.0   5.631579  12.0
11            253       3.750000   15.0             1.0   1.000000   1.0
12            225       2.444444   22.0             3.0   4.222222   8.0
13            300       2.466667   37.0             0.0   1.400000   8.0
14           1175       3.250000   26.0             3.0   9.142857  14.0
15            259       6.500000   13.0             8.0   8.000000   8.0
16            377       1.875000   15.0             3.0   4.833333   8.0
17            533       6.600000   33.0             1.0   5.600000   8.0

   floor_count_max
               min       mean   max
0              4.0   5.875000   8.0
1              4.0   6.650000  14.0
2              5.0   7.071429  17.0
3             14.0  14.000000  14.0
4             31.0  31.000000  31.0
5             10.0  10.000000  10.0
6              4.0   7.250000  11.0
7              5.0   9.300000  15.0
8              7.0   7.000000   7.0
9              6.0   8.250000   9.0
10             2.0   7.052632  12.0
11             8.0   8.250000   9.0
12             3.0   4.222222   8.0
13             3.0   6.000000   8.0
14             3.0  10.500000  26.0
15             7.0   7.500000   8.0
16             3.0   7.875000  17.0
17             5.0   8.200000  11.0

In [168]:
for_stats = garden_ring_db
for_stats.loc[:, "groupby"] = "total"
for_stats.groupby("groupby").agg(
    {
         "address": ["count"],
         "living_quarters_count":["mean",  "sum"],
         "quarters_count" : ["sum"],
         "entrance_count": ["mean",  "sum"],
         "floor_count_min": ["min", "mean", "max"],
         "floor_count_max": ["min", "mean", "max"],
    })

/Users/ssheypak/newenv/lib/python3.9/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

        address living_quarters_count         quarters_count entrance_count  \
          count                  mean     sum            sum           mean
groupby
total       153             69.069444  9946.0          11000       3.346405

               floor_count_min                 floor_count_max
           sum             min      mean   max             min      mean   max
groupby
total    512.0             0.0  5.319444  17.0             2.0  7.372549  31.0

## Подход 2. По координатам

Есть база данных адресов с координатами

In [176]:
!ls data

data-29580-2020-11-01.xlsx       export-reestrmkd-77-20201101.csv
dump2.csv                        house_coords.zip
dump20201101.xlsx

Препроцессим тяжёлую табличку:

In [184]:
!pip3 install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.5-py2.py3-none-any.whl (242 kB)
     |████████████████████████████████| 242 kB 555 kB/s eta 0:00:01
Collecting et-xmlfile
  Using cached et_xmlfile-1.0.1.tar.gz (8.4 kB)
Collecting jdcal
  Using cached jdcal-1.4.1-py2.py3-none-any.whl (9.5 kB)
Using legacy 'setup.py install' for et-xmlfile, since package 'wheel' is not installed.
Installing collected packages: et-xmlfile, jdcal, openpyxl
    Running setup.py install for et-xmlfile ... done
Successfully installed et-xmlfile-1.0.1 jdcal-1.4.1 openpyxl-3.0.5

In [191]:
filename =  "data/data-29580-2020-11-01.xlsx"

In [190]:
from openpyxl import load_workbook
import csv

In [204]:
import csv

In [193]:
wb = load_workbook(filename)

/Users/ssheypak/newenv/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:214: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [202]:
sheetnames = wb.sheetnames

In [205]:
sheet = wb[sheetnames[0]]

In [214]:
col_to_index = {cell.value:i for i, cell in enumerate(sheet[1])}

In [215]:
col_to_index

{'OBJ_TYPE': 0,
 'OnTerritoryOfMoscow': 1,
 'ADDRESS': 2,
 'UNOM': 3,
 'P1': 4,
 'P3': 5,
 'P4': 6,
 'P5': 7,
 'P6': 8,
 'P7': 9,
 'P90': 10,
 'P91': 11,
 'L1_TYPE': 12,
 'L1_VALUE': 13,
 'L2_TYPE': 14,
 'L2_VALUE': 15,
 'L3_TYPE': 16,
 'L3_VALUE': 17,
 'L4_TYPE': 18,
 'L4_VALUE': 19,
 'L5_TYPE': 20,
 'L5_VALUE': 21,
 'ADM_AREA': 22,
 'DISTRICT': 23,
 'NREG': 24,
 'DREG': 25,
 'N_FIAS': 26,
 'D_FIAS': 27,
 'KAD_N': 28,
 'KAD_ZU': 29,
 'KLADR': 30,
 'TDOC': 31,
 'NDOC': 32,
 'DDOC': 33,
 'ADR_TYPE': 34,
 'VID': 35,
 'SOSTAD': 36,
 'STATUS': 37,
 'global_id': 38,
 'geoData': 39}

In [257]:
cols = [i for i in range(2, 22)] + [39]

with open("moscow_coords.csv", "w") as f:
    c = csv.writer(f)
    for row in sheet.rows:
        c.writerow([row[i].value for i in cols])
f.close()

Переходим к читаемой табличке:

In [274]:
coords_db = pd.read_csv("moscow_coords.csv", usecols=["ADDRESS", "geoData"], dtype=str)

In [275]:
coords_db.head()

,ADDRESS,geoData
0,"город Москва, Варшавское шоссе, дом 150, строе...","{ ""coordinates"" : [ [ [ 37.6013796035561 , 55...."
1,"город Москва, Косинская улица, дом 26А","{ ""coordinates"" : [ [ [ 37.8279504545784 , 55...."
2,"город Москва, Гороховский переулок, дом 21","{ ""coordinates"" : [ [ [ 37.6682995208392 , 55...."
3,"город Москва, Тагильская улица, дом 4, строени...","{ ""coordinates"" : [ [ [ 37.7527975561661 , 55...."
4,"город Москва, Ленинградский проспект, дом 73А,...","{ ""coordinates"" : [ [ [ 37.5136462392231 , 55...."

In [388]:
def parse_coordinate(str_dct):
    if not isinstance(str_dct, str) or str_dct == "Значение превышает максимальный размер ячейки Excel.":
        return np.zeros(2)
    
    d = json.loads(str(str_dct))
    c = d["coordinates"]
    c = list(chain.from_iterable(c))
    if isinstance(c, list) and len(c) > 1:
        e = np.concatenate([np.array(r).reshape((-1, 2)) for r in c])
    else:
        e = np.array(c)
    return np.array(e).mean(axis=0)


coords_db["coor_x"] = coords_db["geoData"].apply(lambda x: parse_coordinate(x)[0])
coords_db["coor_y"] = coords_db["geoData"].apply(lambda x: parse_coordinate(x)[1])

In [389]:
coords_db

,ADDRESS,geoData,coor_x,coor_y
0,"город Москва, Варшавское шоссе, дом 150, строе...","{ ""coordinates"" : [ [ [ 37.6013796035561 , 55....",37.601252,55.599249
1,"город Москва, Косинская улица, дом 26А","{ ""coordinates"" : [ [ [ 37.8279504545784 , 55....",37.828115,55.717493
2,"город Москва, Гороховский переулок, дом 21","{ ""coordinates"" : [ [ [ 37.6682995208392 , 55....",37.668093,55.766224
3,"город Москва, Тагильская улица, дом 4, строени...","{ ""coordinates"" : [ [ [ 37.7527975561661 , 55....",37.752887,55.818257
4,"город Москва, Ленинградский проспект, дом 73А,...","{ ""coordinates"" : [ [ [ 37.5136462392231 , 55....",37.513546,55.803510
...,...,...,...,...
406929,"город Москва, внутригородская территория посел...","{ ""coordinates"" : [ [ [ 37.3876600958591 , 55....",37.387571,55.387876
406930,"город Москва, внутригородская территория посел...","{ ""coordinates"" : [ [ [ 37.3721416501139 , 55....",37.372039,55.382608
406931,"город Москва, внутригородская территория муниц...","{ ""coordinates"" : [ [ [ 37.8243751207729 , 55....",37.824522,55.806998
406932,"город Москва, внутригородская территория посел...","{ ""coordinates"" : [ [ [ 37.001014788993 , 55.4...",37.000983,55.451388
406933,"город Москва, внутригородская территория посел...","{ ""coordinates"" : [ [ [ 37.1529029359442 , 55....",37.152758,55.531642

In [430]:
coords_db = coords_db.drop(columns=["geoData"])

Смотрим, что там с адресами:

In [393]:
for x in coords_db["ADDRESS"].sample(10):
    print(x)

город Москва, улица Коцюбинского, дом 9, корпус 1
город Москва, поселение Кленовское, квартал № 64, дом 25
город Москва, внутригородская территория поселение Воскресенское, деревня Губкино, Кронбургская улица, земельный участок 13/3/4
город Москва, внутригородская территория поселение Щаповское, квартал № 250, з/у 105
город Москва, Одесская улица, дом 13А, строение 1
город Москва, поселение Марушкинское, деревня Марушкино, Рябиновая улица, владение 20А
город Москва, город Троицк, 2-й Заречный переулок, владение 4
город Москва, внутригородская территория поселение Воскресенское, деревня Губкино, Кронбургская улица, дом 9, корпус 1
город Москва, внутригородская территория поселение Вороновское, деревня Юдановка, земельный участок 33А
город Москва, поселение Роговское, квартал № 569, владение 1, строение 5

Уберём все строчки, в которых слово город встречается дважды или есть слово послеление.

In [395]:
def adr_is_bad(s):
    cities_count = len(re.findall("город ", s))
    settl_count = len(re.findall("поселение ", s))
    settl_2_count = len(re.findall("поселок ", s))
    return cities_count + settl_count + settl_2_count > 1

In [400]:
s = "город Москва, поселение Роговское, квартал № 569, владение 1, строение 5"
adr_is_bad(s)

True

In [401]:
s = "город Москва, Одесская улица, дом 13А, строение 1"
adr_is_bad(s)

False

In [398]:
coords_db = coords_db[~coords_db["ADDRESS"].apply(adr_is_bad)]

In [399]:
coords_db.shape

(155560, 4)

In [402]:
for x in coords_db["ADDRESS"].sample(10):
    print(x)

город Москва, Рижская площадь, дом 1, строение 2
город Москва, Денисовский переулок, дом 22
г. Москва, пос. Рязановское, с. Остафьево, з/у 1/4
город Москва, 1-й Дачно-Мещерский проезд, дом 7А, строение 3
город Москва, Солнечногорская улица, дом 4, строение 36
город Москва, Рублёвское шоссе, дом 52
город Москва, проезд Нансена, дом 4, строение 1
город Москва, Староваганьковский переулок, дом 19, строение 6Б/Н
город Москва, улица Академика Волгина, дом 2, корпус 1
город Москва, Дмитровское шоссе, дом 11, строение 7

In [423]:
shortenings = [
    ("город", "г"),
    ("проспект", "пркт"),
    ("улица", "ул"),
    ("бульвар", "бр"),
    ("переулок", "пер"),
    ("проезд", "проезд"),
    ("шоссе", "ш"),
    ("площадь", "пл"),
    ("набережная", "наб"),
    ("дом", "д"),
    ("корпус", "к"),
    ("строение", "стр"),
    ("сооружение", "сооруж")
]

In [424]:
def shorten_address(s, shrt=shortenings):
    x = s.lower()
    x = re.sub(r"[\.\,\-]", "", x)
    
    for a, b in shortenings:
        x = re.sub(a, b, x)
    x = re.sub(r"г москва", "", x)
    return x

In [425]:
coords_db["short_address"] =  coords_db["ADDRESS"].apply(shorten_address)

<ipython-input-425-b87281126d55>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  coords_db["short_address"] =  coords_db["ADDRESS"].apply(shorten_address)

In [426]:
coords_db[["ADDRESS", "short_address"]].sample(10)

,ADDRESS,short_address
131486,"город Москва, улица Красная Пресня, дом 22, со...",ул красная пресня д 22 сооруж 1
68237,"город Москва, Саянская улица, дом 13, корпус 2...",саянская ул д 13 к 2 стр 2
120709,"город Москва, улица Куусинена, дом 6А, строение 3",ул куусинена д 6а стр 3
67872,"город Москва, Окская улица, дом 14, корпус 1",окская ул д 14 к 1
31580,"город Москва, Федеративный проспект, дом 19",федеративный пркт д 19
29849,"город Москва, Профсоюзная улица, дом 98, корпу...",профсоюзная ул д 98 к 12 стр 2
356847,"город Москва, Западная улица, дом 4, строение 56",западная ул д 4 стр 56
128280,"город Москва, Чистопрудный бульвар, дом 12А, с...",чистопрудный бр д 12а стр 1
26465,"город Москва, улица Москворечье, дом 20, строе...",ул москворечье д 20 стр 7
43639,"город Москва, улица Наташи Ковшовой, дом 8, ко...",ул наташи ковшовой д 8 к 1

In [439]:
coords_db["str"] = coords_db["short_address"].apply(lambda x: parse_address(x)[0])
for p in prefixes:
    coords_db[p] = coords_db["short_address"].apply(lambda x: parse_address(x)[1].get(p))

In [440]:
coords_db

,ADDRESS,coor_x,coor_y,short_address,str,д,к,стр
0,"город Москва, Варшавское шоссе, дом 150, строе...",37.601252,55.599249,варшавское ш д 150 стр 2,варшавское ш,150,None,2
1,"город Москва, Косинская улица, дом 26А",37.828115,55.717493,косинская ул д 26а,косинская ул,26а,None,None
2,"город Москва, Гороховский переулок, дом 21",37.668093,55.766224,гороховский пер д 21,гороховский пер,21,None,None
3,"город Москва, Тагильская улица, дом 4, строени...",37.752887,55.818257,тагильская ул д 4 стр 36,тагильская ул,4,None,36
4,"город Москва, Ленинградский проспект, дом 73А,...",37.513546,55.803510,ленинградский пркт д 73а стр 3,ленинградский пркт,73а,None,3
...,...,...,...,...,...,...,...,...
406908,"город Москва, внутригородская территория муниц...",0.000000,0.000000,внутригская территория муниципальный округ ма...,внутригская территория муниципальный округ мар...,None,25,None
406911,"город Москва, внутригородская территория муниц...",37.583656,55.741449,внутригская территория муниципальный округ ха...,внутригская территория муниципальный округ хам...,13а,None,None
406922,"город Москва, внутригородская территория муниц...",0.000000,0.000000,внутригская территория муниципальный округ ба...,внутригская территория муниципальный округ баб...,земельный,12,None
406925,"город Москва, внутригородская территория муниц...",37.639249,55.887125,внутригская территория муниципальный округ се...,внутригская территория муниципальный округ сев...,2а,None,None
406931,"город Москва, внутригородская территория муниц...",37.824522,55.806998,внутригская территория муниципальный округ се...,внутригская территория муниципальный округ сев...,42,5,None

In [441]:
db["short_address"] = db["address"].apply(shorten_address)

<ipython-input-441-2cf286863a28>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db["short_address"] = db["address"].apply(shorten_address)

In [442]:
db["str"] = db["short_address"].apply(lambda x: parse_address(x)[0])
for p in prefixes:
    db[p] = db["short_address"].apply(lambda x: parse_address(x)[1].get(p))

<ipython-input-442-eadd4362af3a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db["str"] = db["short_address"].apply(lambda x: parse_address(x)[0])
<ipython-input-442-eadd4362af3a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db[p] = db["short_address"].apply(lambda x: parse_address(x)[1].get(p))

In [443]:
db

,id,houseguid,region_id,shortname_region,formalname_region,address,house_number,building,block,letter,...,entrance_count,elevators_count,quarters_count,living_quarters_count,unliving_quarters_count,short_address,str,д,к,стр
0,8649748,521474b9-1d5a-702f-3b75-33ff10263733,0c5b2444-70a0-4932-980c-b4dc0d3f02b5,г,Москва,"г. Москва, д. 9, к. 1",9,NaN,1,NaN,...,4.0,4.0,144,144.0,0.0,д 9 к 1,,9,1,None
1,9370109,64f12da8-00f6-ab7c-a849-2e1c3cccd26b,0c5b2444-70a0-4932-980c-b4dc0d3f02b5,г,Москва,"г. Москва, д. 14, к. 1",14,NaN,1,NaN,...,NaN,NaN,0,NaN,NaN,д 14 к 1,,14,1,None
2,8963246,4b9cbbad-b371-6ce1-bebe-09e785d0b894,0c5b2444-70a0-4932-980c-b4dc0d3f02b5,г,Москва,"г. Москва, д. 42, к. 2",42,NaN,2,NaN,...,7.0,14.0,476,474.0,2.0,д 42 к 2,,42,2,None
3,8932138,c6307da6-86f4-e8ca-50f9-b7a812a258f9,0c5b2444-70a0-4932-980c-b4dc0d3f02b5,г,Москва,"г. Москва, д. 2301",2301,NaN,NaN,NaN,...,6.0,9.0,0,NaN,NaN,д 2301,,2301,None,None
4,8932139,460591fb-89e3-230c-1691-7478c03eeb36,0c5b2444-70a0-4932-980c-b4dc0d3f02b5,г,Москва,"г. Москва, д. 2302",2302,NaN,NaN,NaN,...,3.0,6.0,0,NaN,NaN,д 2302,,2302,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34428,7647670,ddff1459-f2a7-44db-8643-323b339f1aea,0c5b2444-70a0-4932-980c-b4dc0d3f02b5,г,Москва,"г. Москва, ул. Яхромская, д. 9, к. 1",9,NaN,1,NaN,...,1.0,2.0,112,111.0,1.0,ул яхромская д 9 к 1,ул яхромская,9,1,None
34429,7647676,3a30fcfc-851a-4b80-8e6d-7002f4e7424c,0c5b2444-70a0-4932-980c-b4dc0d3f02b5,г,Москва,"г. Москва, ул. Яхромская, д. 9, к. 2",9,NaN,2,NaN,...,1.0,2.0,112,111.0,1.0,ул яхромская д 9 к 2,ул яхромская,9,2,None
34430,7647677,5b4e8b53-3011-47db-ac8a-cbe6af1b6f36,0c5b2444-70a0-4932-980c-b4dc0d3f02b5,г,Москва,"г. Москва, ул. Яхромская, д. 9, к. 3",9,NaN,3,NaN,...,1.0,2.0,107,105.0,2.0,ул яхромская д 9 к 3,ул яхромская,9,3,None
34431,7647704,6551c971-8ae8-4480-943f-1577104085f3,0c5b2444-70a0-4932-980c-b4dc0d3f02b5,г,Москва,"г. Москва, ул. Яхромская, д. 14/5",14/5,NaN,NaN,NaN,...,3.0,0.0,66,65.0,1.0,ул яхромская д 14/5,ул яхромская,14/5,None,None
34432,9068616,f835abf3-ef6e-f3f6-5ca0-8f8826eae68b,889b1f3a-98aa-40fc-9d3d-0f41192758ab,обл,Томская,"обл. Томская, р-н. Томский, п. Мирный, мкр. Ми...",36,NaN,8887,NaN,...,2.0,2.0,135,120.0,15.0,обл томская рн томский п мирный мкр мирный д 3...,обл томская рн томский п мирный мкр мирный,36,8887,None

In [444]:
mega_db = pd.mer

AttributeError: module 'pandas' has no attribute 'mer'